<header class="header">
  <div class="floating-menu-wrapper">
    <nav class="nav floating-menu">
      <ul id="menu">
  {{- range site.Menus.main }}
    <li>
      <a href="{{ .URL }}" title="{{ .Title | default .Name }}" class="menu-btn{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{ end }}">
        {{ .Name }}
      </a>
    </li>
  {{- end }}
</ul>

<a href="/search/" class="menu-btn{{ if or (eq .RelPermalink "/search/") (in .RelPermalink "/search/") }} active{{ end }}" title="Search">
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="9" cy="9" r="7" stroke="currentColor" stroke-width="2" />
    <line x1="14.1213" y1="14.1213" x2="18" y2="18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
  </svg>
</a>
    </nav>
  </div>
</header>
