<div class="post-header">
  <div class="post-title-meta">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="split-line"></div>
  
  {{ if and (ne .Section "about") (ne .Section "box") }}
    <div class="post-category">
      {{ with .Params.categories }}
        <span>
          📁 Categories: {{ range $i, $e := . }}{{ if $i }}, {{ end }}<a href="{{ "categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        </span>
      {{ end }}
    </div>
    
    <div class="post-date">
      <span>📅 Date: {{ .Date.Format "2006-01-02" }}</span>
    </div>

    <div class="post-third-line">
      {{ with .Params.tags }}
        <div class="post-tags">
          <span>🏷️ Tags: </span>
          {{ range $index, $tag := . }}
            {{ if $index }}, {{ end }}
            <a href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>

    <div class="split-line"></div>
  {{ end }}
</div>
