<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    {{- partial "header.html" . .Page -}}
    <main class="main">
      {{- block "main" . }}{{ end }}
    </main>
    <div class="footer-align">
      {{ partial "footer.html" . -}}
    </div>

    <button id="topBtn" class="top-button" title="맨위로">↑</button>

    <script>
      const topBtn = document.getElementById("topBtn");
      window.onscroll = function () {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          topBtn.style.display = "block";
        } else {
          topBtn.style.display = "none";
        }
      };

      topBtn.addEventListener("click", function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    </script>

    {{ if .IsHome }}
      {{ $script := resources.Get "js/infinite-scroll.js" }}
      {{ if $script }}
        <script src="{{ $script.RelPermalink }}"></script>
      {{ end }}
    {{ end }}
  </body>
</html>
